<div class="px-3 mt-6">
  <a href="/">
    <img class="m-auto" src="https://images-static.iracing.com/img/logos/series/<%= assigns[:logo] %>" />
  </a>

  <h2 class="text-2xl mt-5"><%= assigns[:season][:season_name] %></h2>
  <h3 class="text-xl mb-7">
    Week <%= assigns[:season][:race_week] + 1 %>:
    <%= assigns[:week][:track][:track_name] %>
  </h3>
</div>
 
<div class="bg-white pt-7 pb-4 px-3">
  <div class="mb-8 m-auto flex flex-row flex-wrap gap-x-1 max-w-5xl justify-center">
    <div>
      The graphs showcase iRacing members who completed the race on the leader lap
      this week.
    </div>
    <div>
      They are updated hourly.
    </div>
    <div>
      Feel free to zoom in for a closer examination of the data as needed.
    </div>
  </div>

  <% assigns[:car_classes].each do |car_class| %>
    <% season = assigns[:season] %>
    <% chart_url = "charts/#{car_class[:car_class_id]}" %>
    <div
        class="mb-12 plot-container max-w-6xl min-h-[40rem] m-auto"
        data-url="<%= chart_url %>/race.csv"
        data-qualifications-url="<%= chart_url %>/qualifying.csv"
        data-title="<%= car_class[:name] %>"
        >
      <div class="loading-text">Loading <%= car_class[:name] %> data...</div>
    </div>
  <% end %>
</div>
